
@{
    ViewBag.Title = "Log In";
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <p>
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log In</button>
    </p>
}

@section Scripts {
    <script>
        $("input:first").focus();
        $("button[type=submit]").css("margin-top", "5px");
    </script>
}