@model mamSearchAndRetrieval.Models.RetrievalModel

<div class="row">
    <div class="center-block text-center">
        <img id="thumbnail" src="@Model.thumbnailUrl" />
    </div>
</div>
<div>
    <dl>
        <dt>Workflow</dt>
        <dd>@Model.metadata["WORKFLOW"]</dd>
        <dt>Production Number</dt>
        <dd>@Model.metadata["PRODUCTION_NUMBER"]</dd>
        <dt>Barcode</dt>
        <dd>@Model.metadata["MAINTITLE"]</dd>
        
    </dl>
</div>
