@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav navbar-text">@Html.Encode("Hello " + @CurrentUser.Name + "!")</li>
        <li>@Html.ActionLink("Sign Out", "LogOut", "Auth")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log In", "Login", "Auth")</li>
    </ul>
}
