<ul id="playlist-nav"class="nav navbar-nav hidden">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Playlist(<span id="cart-count">0</span>) <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a id="viewCart" href="#">View Playlist</a></li>
            <li><a href="#">Download Playlist</a></li>
            <li><a id="emptyCart" href="#">Empty Playlist</a></li>
        </ul>
    </li>
</ul>