<ul id="playlist-nav"class="nav navbar-nav hidden">
    <li><a id="viewCart">View Playlist</a></li>
    <li id="cart-count" class="navbar-text"><span id="count">0</span> Item(s)</li>
    <li><a id="emptyCart">Empty Playlist</a></li>
</ul>