<ul class="nav navbar-nav ">
    <li><a id="viewCart">View Cart</a></li>
    <li id="cart-count" class="navbar-text"><span id="count">0</span> Item(s)</li>
    <li><a id="emptyCart">Empty Cart</a></li>
</ul>