<div id="details" class="col-lg-12">
    <small>
        @Html.TextArea("TextArea", new { @class = "col-lg-12", @rows = "21", @readonly = "readonly", @style = "max-width: none;" })
    </small>
</div>
