<ul id="grid-pagination" class="pagination pagination-sm" data-current-pager-block="1">
    <li id="prevBlock"><a href="#">&laquo;</a></li>
    <li id="prevPage"><a href="#">&lsaquo;</a></li>
    <li id="nextPage"><a href="#">&rsaquo;</a></li>
    <li id="nextBlock"><a href="#">&raquo;</a></li>
</ul>