<div class="col-lg-6">
    <ul id="grid-pagination" class="pagination">
        <li id="prevBlock"><a href="#">&laquo;</a></li>
        <li id="prevPage"><a href="#">&lsaquo;</a></li>
        <li id="first" class="active nothidden"><a href="#">1</a></li>
        <li id="nextPage"><a href="#">&rsaquo;</a></li>
        <li id="nextBlock"><a href="#">&raquo;</a></li>
    </ul>
</div>